/*1*/

.customer {
    margin-top: 70px;
}

.customer-first > img {
    float: left;
}

.customer-first__info {
    float: left;
    text-align: right;
}

.customer-first__clear {
    clear: both;
}

/*2*/
.customer-second {
    margin-top: 15rem;
}

.customer-second > img {
    float: right;
}

.customer-second__info {
    float: right;
}

.customer-second__clear {
    clear: both;
}

/*общее*/
.customer-first > img, .customer-second > img {
    width: 60%;
}

.customer__info {
    margin: 25rem 1rem;
}

.customer__info > h3 {
    margin: 0;
    font-size: 40px;
    color: red;
}

.customer__info > p:first-of-type {
    color: grey;
    opacity: 80%;
    margin-bottom: 0;
}

.customer__info > p:last-of-type {
    margin-top: 0;
}
