/* Write your code here */

body {
    background-image: url("plans-background.jpg"); /* устанавлеваем изображени как фон*/
    background-size: 100%; /* масштаб 1:1*/
}

div.Our-PLUS-Plan, div.Our-FREE-Plan, div.Our-PREMIUM-Plan {
    background-color: #b2b2b2;
    border: 5px solid #866f6a;
    width: 75%;
    margin-top: 100px;
    opacity: 90%;
    font-weight: bold;
}

div.Our-PLUS-Plan, div.Our-PREMIUM-Plan {
    border-left: none;
}

div.Our-FREE-Plan {
    border-right: none;
}

div.Our-PLUS-Plan p, div.Our-FREE-Plan p, div.Our-PREMIUM-Plan p {
    margin: 15px 50px;
}

div.Our-PLUS-Plan > p:nth-child(1) { /* Рекомендация */
    background-color: red;
    color: white;
    margin-right: 10px;
    padding: 5px 7px;
    text-align: center;
    float: right;
    position: relative;
}

div.Our-PLUS-Plan > p:nth-child(2), div.Our-PLUS-Plan > p:nth-child(3), div.Our-FREE-Plan > p:nth-child(1),
div.Our-FREE-Plan > p:nth-child(2), div.Our-PREMIUM-Plan > p:nth-child(1), div.Our-PREMIUM-Plan > p:nth-child(2) {
    clear: right;
    font-size: 40px;
}

div.Our-PLUS-Plan > p:last-child, div.Our-FREE-Plan > p:last-child, div.Our-PREMIUM-Plan > p:last-child {
    background-color: white;
    border: 2px solid black;
    padding: 30px;
    font-weight: normal;
    opacity: 100%;
    margin-bottom: 60px;
    font-size: 35px;
}

div.Our-FREE-Plan {
    float: right;
}

div.Our-FREE-Plan {
    text-align: right;
    margin-bottom: 50px; /* Отодвинул нижний элемент, ибо этот плавает */
}

div.Our-FREE-Plan > p:nth-child(1), div.Our-PREMIUM-Plan > p:nth-child(1) {
    margin-top: 45px;
}

div.Our-PREMIUM-Plan {
    clear: right;
    background-color: #93726e;
}

div.Our-PREMIUM-Plan > p:nth-child(1) {
    color: white;
}

div.Our-PREMIUM-Plan > p:nth-child(2) {
    color: #c3bbb3;
}